@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <div class="row">
        <div class="col-md-12 text-left" id="content">
            <div class="col-md-7 top-buffer-6" id="text">
                <h1 class="title">Welcome!</h1>
                <h2>Let's try out your geography skills!</h2>
                <h3>See how many clues you need to figure out which capital in the world they describe!</h3>
            </div>
            <div class="col-md-7">
                @Html.ActionLink("Play", "Play", null, null, new { @class = "btn btn-primary", id = "button" })
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Kartastrof</p>
    </footer>
</div>


    <style>
        .btn-primary {
            background-color: #FB4F4F !important;
            font-size: 20px !important;
            border: none !important;
            margin-top: 5% !important;
        }

        .title {
            color: #FB4F4F !important;
        }

        #text {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 8px;
        }

        #button {
            float: right;
        }

        #content {
            background-image: url("../Images2/worldMapv2.png");
            background-size: 85%;
            height: 500px;
            color: white !important;
            /*text-shadow: 2px 2px #000000;*/
        }

        #worldMap {
            width: 85%;
            height: 85%;
        }

        #image2 {
            width: 100px;
            height: 100px;
            margin-bottom: 4%;
        }

        .top-buffer-6 {
            margin-top: 6%;
        }

        .title {
            font-size: 80px;
            margin-top: 5%;
            font-family: 'Chewy', cursive;
        }
    </style>
