@{
    ViewBag.Title = "Play";
}

<br />
<br />
<div class="row">
    <div class="col-md-5 text-center" id="infoContainer">
        <h1>Ledtrådar</h1>
    </div>
    <div class="col-md-7 text-center" id="mapContainer">
        <h1>Karta</h1>
        <div id="map-canvas"></div>
    </div>
</div>

<div class="row">

    <div class="col-md-12">

        <style type="text/css">
            #map-canvas {
                height: 400px;
                width:600px;
                margin: 0;
                padding: 0;
            }
        </style>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWfYmXiTeQmVSIsx1mNapkZHJAYvQ-eFI">
        </script>
        <script type="text/javascript">
            function initialize() {
                var mapOptions = {
                    center: { lat: -34.397, lng: 150.644 },
                    zoom: 8
                };
                var map = new google.maps.Map(document.getElementById('map-canvas'),
                    mapOptions);
            }
            google.maps.event.addDomListener(window, 'load', initialize);

        </script>
    </div>
</div>

<style>
    #infoContainer {
        border-right: solid;
        border-width: 1px;
        height: 500px;
    }
</style>
