@{
    ViewBag.Title = "Play";
}
<br />
<br />
<div class="row">
    <div class="col-md-5 text-center" id="infoContainer">
        <h1>Ledtrådar</h1>
    </div>
    <div class="col-md-7 text-center" id="mapContainer">
        <h1>Karta</h1>
    </div>
</div>

<style>
    #infoContainer {
        border-right: solid;
        border-width: 1px;
        height: 500px;
    }
</style>
